// Define variables for your color scheme

// For example:
$red: #E2422D;
$blue: #5697FB;
$yellow: #F9D132;
$orange: #F3A596;
$green: #2ED47A;
$light-blue: #F5F7FA;
$purple: #4D54E1;
$dark-purple: #211d43;
$white: #fff;
