// Specific CSS for your home-page

.home_video {
 width: 100%;
 height: 101vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
 border-bottom-left-radius: 50px;
 border-bottom-right-radius: 50px;
}

.home-video-wrapper {
  display: flex;
  background-size: cover;
}

.home {
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1.home {
  margin: 2rem;
  color: dark;
  font-size: 3rem;
  opacity: 0.8;

}

p.home {
  color: dark;
  font-size: 2rem;
  opacity: 0.8;
}
.form {
  width:417px;
  height: 491px;
  padding:2%;
  background: $white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #211d437d;
}
h3.modules {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
}
.form-inputs {
  margin-top: 5%;
}
.form-actions {
  margin-top: 5%;
}
.form-control {
  border-radius:20px;
}
.footer {
  background: #211d43;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #F9D132;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #F9D132;
}
.footer-links p {
  color: white;
  font-weight: bold;
}

