<div class="card-dash">
  <div class="card-dash-body">
    <div class="row align-items-center">
      <div class="col-sm-4 text-center">
        <%= image_tag(img) %>
      </div>
      <div class="col-sm-8">
        <p class="card-title m-0"><%= title %></p>
        <h4 class="card-text"><%= value %></h4>
      </div>
    </div>

  </div>
</div>
