<div class="home-video-wrapper">
  <%= video_tag "banner.mp4", controls:true, autoplay: :autoplay, loop: :loop, mute: :mute, poster:'poster_photo', class:'home_video' %>
  <div>
  <h1 class="home">Administrophobe ?</h1>
  <p class="home">Le suivi de votre vie professionnelle en toute sérennité</p>
  </div>
</div>
