<div class="container">
  <div class="row">
    <col-md-4>
      <div class="text-center"><h1>Pages#home </h1>
        <p>Find me in app/views/pages/home.html.erb</p>
      </div>

    </col-md-4>
  </div>
</div>


