<div>
<div class="home-video-wrapper">
  <%= video_tag "banner.mp4", controls:true, autoplay: true, loop: :loop, muted: :muted, poster:'poster_photo.png', class:'home_video' %>
  <div>
    <h1 class="home">Administrophobe ?</h1>
    <p class="home">Simplifier le suivi de votre vie professionnelle</p>
  </div>
</div>


<div class="container">

</div >
  <h1 class="text-center pb-3">Stockage Sécurisé - Tableau de Bord - Simulations</h1>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem; ">
          <%= image_tag "pc_cool", class:"card-img-top" %>
          <div class="card-body">
            <h1 class="card-text text-center">C'est tellement simple</h1>
            <p class="card-text text-center">de récupérer, stocker et protéger mes données professionnelles.</p>
          </div>
          </div>
    </div>

    <div class="col-sm">
            <div class="card" style="width: 18rem;">
          <%= image_tag "progress_data", class:"card-img-top", crop: :fill %>
          <div class="card-body">
          <h1 class="card-text text-center">d'être connecté</h1>
          <p class="card-text text-center">aux dernières mises à jour de mon tableau de bord personnalisé.</p>
          </div>
      </div>
    </div>

        <div class="col-sm">
            <div class="card" style="width: 18rem;">
          <%= image_tag "moment_to_relax", class:"card-img-top", crop: :fill %>
          <div class="card-body">
          <h1 class="card-text text-center">en toute confiance</h1>
          <p class="card-text text-center">sécurisé et confidentiel, partout, tout le temps.</p>
          </div>
      </div>
    </div>

  </div>
</div>


































