<div class="container index">
  <h2 class="mt-4">Bonjour <%= %></h2>

  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="d-flex align-items-center">
    <div class="grid m-2 w-75">
      <div class="row">
        <div class="col-6 col-md-4 col-sm-12 ">Coucou</div>
        <div class="col-6 col-md-4 col-sm-12 ">ça</div>
        <div class="col-6 col-md-4 col-sm-12 p">va?</div>
      </div>
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->


    </div>
