<h1>Documents</h1>

<% groups = @documents.sort_by { |h| h.year }.reverse.group_by { |m| m.year } %>

<div class="container">
  <% groups.each do |group| %>
    <h2><%= group[0] %></h2>
    <div class="cards" style="position: relative;">
      <% group[1].each do |document| %>
        <div class="card" style="background-image: url('<%= cl_image_path(document.photo.key, format: :jpg) %>');">
          <div class="card-body" style="position: absolute; bottom: 0;">
            <p class="card-text"><%= document.name %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

