<h1 class="text-center mt-5  "><%= @document.name %></h1>

<div class="d-flex justify-content-start">
  <div class="document-show">
    <%#= cl_image_tag(@document.photo.key , format: :jpg) %>

    <iframe src="<%= cl_image_tag(@document.photo.key) %>" height="200" width="300"></iframe>
  </div>
  <div class="document-info">
    Salaire brut: <%= DocLine.salaire_brut.find_by(document: @document).amount.round(2) %>
  </div>

</div>

