.banner {

}
.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.home-video-wrapper {
height: 100vh;
display: flex;

}

.home {
  // margin-top: 3rem;
  margin-left: 5rem;

}

h1.home {
  margin-top: 5rem;
  color: white;
  font-weight: bold;
}

p.home {
  color: white;
  font-size: 20px;
}
