
.home_video {
 width: 100vw;
 height: calc(100% - 18px);
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.home-video-wrapper {
  height: 90vh;
  display: flex;
  background-size: cover;
}

.home {
  margin-left: 300px;
  margin-right: 50px;
}

h1.home {
  margin-top: 2rem;
  color: dark;
  font-size: 3rem;
  opacity: 0.8;

}

p.home {
  color: dark;
  font-size: 2rem;
  opacity: 0.8;
}
.form {
  margin-top: 1rem;
  margin-left: 5rem;
}


