.btn {
  border-radius: 40px;
  padding: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

a:hover{
  text-decoration: none;
}

.button-add {
  position: absolute;
  top: 120px;
  right: 80px;
  z-index: 100;
}


#buttonModal{
  font-size: 3rem;
  color: $primary;
}
