.preview{
  width: 130vh;
  left: -297px;

  img{
    width: 100%;
  }
}

.document-show{
  margin: 2rem;
  padding:2rem;
  padding-top:1rem;
  background-color: $white;
  border-radius: 20px;
  width: 260px;
  img{
    width: 100%;
  }
  p, strong{
    font-size: 13px;
  }
}

